[all:vars]
{% if ssh_port is defined %}
ansible_port={{ ssh_port }}
{% endif %}

{% for user in users %}
[{{ user.username }}]
{% for host in instances.results %}
{% if user.username in host.invocation.module_args.tags.Name %}
{{ host.invocation.module_args.tags.Name | regex_replace(azure_name_prefix ~ '-','') }} ansible_host={{ hostvars[host.invocation.module_args.tags.Name]['ansible_host'] }} ansible_user={{ hostvars[host.invocation.module_args.tags.Name]['ansible_user'] }}
{% endif %}
{% endfor %}
{% endfor %}
